<h1><%= @train.name() %></h1>

<h3>Add city stops to this train:</h3>

<% if @train.cities().any?() %>
  <h3>Here are all the cities this train stops at:</h3>

  <ul>
    <% @train.cities().each() do |city| %>
      <li><a href="/city_times/<%= city.id() %>"><%= city.name() %></a></li>
    <% end %>
  </ul> -->
    <% else %>
  <p>There are no cities yet!</p>
<% end %>


<a href="/">Return to Main Page</a> -->
